<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.issergeev.exams">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/exams_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/exams_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingScreen"
            android:configChanges="keyboardHidden"
            android:theme="@style/LoadingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginStudentActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".LoginTeacherActivity"
            android:theme="@style/AppThemeAdvanced"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".RegActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".LoginSplash"/>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/HomeScreenTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".LoginAdminActivity"
            android:theme="@style/AppThemeAdvanced"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".HomeSplashActivity"
            android:theme="@style/LoadingTheme"/>
    </application>

</manifest>